.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, .6); */
    box-shadow: 0 0 20px #81B29A;
    border-radius: 10px;
}

.userBox p{
    color: red;
    font-weight: bold;
}

.loginBox h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Zapf-Chancery', cursive;
}

.loginBox .userBox{
    position: relative;
}

.loginBox .userBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.loginBox .userBox label{
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #03e9f4;
    pointer-events: none;
    transition: .5s;
}

.userBox input, label, p{
    font-family: 'Zapf-Chancery', cursive;
}

.loginBox .userBox input:focus, 
.loginBox .userBox input:valid~label{
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
    background-color: transparent;
}

.loginBox form button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5;
    margin-top: 40px;
    letter-spacing: 4px;
    box-shadow: 0 0 20px #81B29A;
    background: rgba(0, 0, 0, .6);
    font-family: 'Zapf-Chancery', cursive;
}

.loginBox button:hover{
    background: #03e9f4;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4;
}

/* .loginBox button:nth-child(1){
    top: 0;
    left: -100%;
    width: 100px;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-animl 1s linear infinite;
}

@keyframes btn-animl {
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
} */