.App {
   text-align: center;
   margin: 0px;
   /* height: 575px; */
   /* background: linear-gradient(#141e30,#243b55) */
}

html,
body {
   /* background: #22223b; */

   /* background: url(https://i.pinimg.com/originals/96/28/be/9628bea6310e0466bb25d38c919c9e0f.gif); */
   background: url(https://i.pinimg.com/originals/af/15/74/af157418a9f2e62ae51af3fa5a4e74bb.gif);
   background-repeat: no-repeat;
   background-size: cover;
   animation-duration: 12s;

}