.App {
   text-align: center;
   margin: 0px;
   /* height: 575px; */
   /* background: linear-gradient(#141e30,#243b55) */
}

html,
body {
   /* background: #22223b; */

   /* background: url(https://i.pinimg.com/originals/96/28/be/9628bea6310e0466bb25d38c919c9e0f.gif); */
   background: url(https://i.pinimg.com/originals/cf/88/99/cf889965c8db4cace0467ba17cbab3f6.gif);
   background-repeat: no-repeat;
   background-size: cover;
   animation-duration: 12s;

}