.detailCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #ccff33;
    border-radius: 20px;
    box-shadow: 0 0 20px #81B29A;
    text-align: center;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 25px;
    font-family: 'Zapf-Chancery', cursive;
}

.botonDetailCard{
    font-weight: bold;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Zapf-Chancery', cursive;
}

.botonDetailCard:hover{
    background-color: lawngreen;
    color: black;
}

.linkDetailCard{
    text-decoration: none;
}

.linkDetailCard:hover{
    color: black;
}

.containerBoton{
    margin-top: 15px;
}

.containerDatosCard{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Zapf-Chancery', cursive;
}


.datosDetailCard{
    margin-right: 20px;
}

.datosDetailCard h3{
    text-align: left;
}

.imagenDetailCard{
    margin-left: 20px;
}

.imagenDetail{
    border-radius: 100%;
}